<form name="edit<%= @model_name%>" class="form-horizontal" role="form">
  <fieldset>
    <legend>
      Edit <%= @model_name.titleize %>
    </legend>
    <%- columns.each do |column| -%>
      <div class="form-group">
        <label class="col-sm-2 control-label">
          <%= column.name.titleize %>
        </label>
        <div class="col-sm-5 controls">
          <%- if ['description', 'body'].include? column.name -%>
            <textarea name="<%= @resource_name%>[<%= column.name %>]"
                   ng-model="<%= @resource_name%>.<%= column.name %>"
                   class="<%= column.field_type %> form-control"
                   required></textarea>
          <%- else -%>
            <input type="<%= column.field_type.to_s.split('_').first %>"
                   name="<%= @resource_name%>[<%= column.name %>]"
                   ng-model="<%= @resource_name%>.<%= column.name %>"
                   class="<%= column.field_type %> form-control" 
                   required>
          <%- end -%>
          <span ng-show="edit<%= @model_name%>.<%= column.name %>.$error.required"
                class="help-inline">
            Required
          </span>
        </div>
      </div>
    <%- end -%>
    <div class="form-group">
     	<div class="col-sm-offset-2 col-sm-10">
	      <button class="btn btn-success" ng-click="save()"
	        ng-disabled="isClean() || edit<%= @model_name%>.$invalid">
	        Save
	      </button>
	      <button ng-click="destroy()"
	              ng-show="<%= @resource_name%>.id"
	              class="btn btn-danger">
	              <i class="glyphicon glyphicon-trash"></i>Delete
	      </button>
	      <a href="/<%= @plural_model_name%>" class="btn">
	        Back to <%= @plural_model_name%>
	      </a>
      </div>
    </div>
  </fieldset>
</form>

