<div class="row">
  <div class="col-lg-6">
	<form name="new<%= @model_name%>" validate-form="" novalidate="" >
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-title"> New <%= @model_name.titleize %></div>
		</div>
		
		<div class="panel-body">
			
			  
			    <%- columns.each do |column| -%>
			      <div class="form-group">
			        <label class="control-label">
			          <%= column.name.titleize %> *
			        </label>
			          <%- if ['description', 'body'].include? column.name -%>
			            <textarea name="<%= @resource_name%>[<%= column.name %>]"
			                   ng-model="<%= @resource_name%>.<%= column.name %>"
			                   class="<%= column.field_type %> form-control"
			                   required></textarea>
			          <%- else -%>
			            <input type="<%= column.field_type.to_s.split('_').first %>"
			                   name="<%= @resource_name%>[<%= column.name %>]"
			                   ng-model="<%= @resource_name%>.<%= column.name %>"
			                   class="<%= column.field_type %> form-control"
			                   required>
			          <%- end -%>
			        
			      </div>
			    <%- end -%>
			    
			  
			  
			  <div class="panel-footer">
	              <div class="clearfix">		
				      <button class="btn btn-success" ng-click="save()"
				        ng-disabled="isClean() || new<%= @model_name%>.$invalid">
				        <i class="glyphicon glyphicon-save"></i> Save
				      </button>
				      <button ng-click="destroy()"
				              ng-show="<%= @resource_name%>.id"
				              class="btn btn-danger">
				              <i class="glyphicon glyphicon-trash"></i> Delete
				      </button>
				      <a href="/<%= @plural_model_name%>" class="btn btn-default">Back to <%= @plural_model_name%></a>
			      </div>
		      </div>
			
		</div>
	</div>  
  	</form>
  	
  </div>
 
</div>